@import '../variables';
@import '../mixins';
.header{
    z-index: 9;
    right: 0;
    left: 0;
    padding-block:20px;
    &-bg {
      background:url(../images/home_img_bg.png) no-repeat top/cover;
    }
    &-logo {
      @include mq(lg){
        max-width: 150px;
      }
      @include mq(sm){
      max-width: 40px;
      }
    }
    .navbar-nav {
       width: 100%;
       .nav-item {
        padding-inline:27px;
        @include mq(xxl){
          padding-inline:10px;
        }
       }
     
      .nav-link{
        color: rgba($color: $clr-white, $alpha: .7);
        font-size: 15px;
        line-height: 27px;
        font-weight: 500;
        transition: color .5s ease-in-out;
        padding: 0;
        position: relative;
        text-transform: capitalize;
        &::before {
            content: '';
            position: absolute;
            bottom: -4px;
            display: block;
            width:40px;
            height: 2px;
            background:$clr-nav-after;
            margin: 0 auto;
            border: 0;
            opacity: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: opacity .3s ease-in-out;
        }
        &:hover::before,
        &.active::before
        {
          opacity: 1;
        }
        &.active {
          color: $clr-white;
        }
        &:hover {
          color: rgba($color: $clr-white, $alpha: .7);
        }
       
      }
    }
 
    .navbar-toggler{
      border: 0;
      &:focus {
        box-shadow: none;
      }
      svg rect {
        fill: $clr-accent;
      }
      }
      .offcanvas {
        position: static;
        z-index: auto;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        transform: none!important;
        transition: none;
        .offcanvas-header {
          display: none;
        }
        .btn-close {
          background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
          border: 0;
          border-radius: 0;
          opacity: 1;
          width: 23px;
          height: 23px;
          &:focus {
            box-shadow: none;
          }
      }
      .offcanvas-body {
       text-align:center;
       overflow: initial;
      }
      }

      .dropdown-menu {
        position: absolute;
        text-align: center;
        background: rgba($color: #fff, $alpha:.3);
        backdrop-filter: blur(5px);
        @include mq(lg){
          min-width: initial;
         right: 0;
         left: initial;
        }
       .dropdown-item {
        font-weight: 500;
        @include mq(lg){
          text-align: center;
        }
        &:hover {
          background: transparent;
        }
       } 
        
      }
}


