@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './variables';
@import './mixins';



html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: $clr-black;
    @include mq(lg){
      font-size: 16px;
      line-height: 26px;
    }
}


h1{
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    color: $clr-white;
    margin-bottom: 24px;
}
h2{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 26px;
}

h3{
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    @include mq(sm){
        font-size: 16px;
        line-height: 24px;
    }
}

h4{
    font-size: 13px;
    line-height: 40px;
    @include mq(lg){
        line-height: 24px;
        margin-bottom: 30px;
    }
}
