$clr-white:#fff;
$clr-black:#000;
$clr-accent:#e94057;
$clr-accent-gradient1:#e94057;
$clr-accent-gradient2:#e88a97;
$clr-accent-dark:#8e525a;
$clr-nav-after:#a82f3f;
$clr-light:#9c9c9c;
$clr-dark:#161615;
$clr-primary:#2469f6;
$clr-secondary:#67c84d;
