.header {
  z-index: 9;
  right: 0;
  left: 0;
  padding-block: 20px;
}
.header-bg {
  background: url(../images/home_img_bg.png) no-repeat top/cover;
}
@media screen and (max-width: 992px) {
  .header-logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 576px) {
  .header-logo {
    max-width: 40px;
  }
}
.header .navbar-nav {
  width: 100%;
}
.header .navbar-nav .nav-item {
  padding-inline: 27px;
}
@media screen and (max-width: 1400px) {
  .header .navbar-nav .nav-item {
    padding-inline: 10px;
  }
}
.header .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 27px;
  font-weight: 500;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  padding: 0;
  position: relative;
}
.header .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  display: block;
  width: 40px;
  height: 2px;
  background: #a82f3f;
  margin: 0 auto;
  border: 0;
  opacity: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.header .navbar-nav .nav-link:hover::before, .header .navbar-nav .nav-link.active::before {
  opacity: 1;
}
.header .navbar-nav .nav-link.active {
  color: #fff;
}
.header .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}
.header .navbar-toggler {
  border: 0;
}
.header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header .navbar-toggler svg rect {
  fill: #e94057;
}
.header .offcanvas {
  position: static;
  z-index: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
  background-color: transparent !important;
  border: 0 !important;
  -webkit-transform: none !important;
          transform: none !important;
  -webkit-transition: none;
  transition: none;
}
.header .offcanvas .offcanvas-header {
  display: none;
}
.header .offcanvas .btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0;
  opacity: 1;
  width: 23px;
  height: 23px;
}
.header .offcanvas .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header .offcanvas .offcanvas-body {
  text-align: center;
  overflow: initial;
}
.header .dropdown-menu {
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media screen and (max-width: 992px) {
  .header .dropdown-menu {
    min-width: initial;
    right: 0;
    left: initial;
  }
}
.header .dropdown-menu .dropdown-item {
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .header .dropdown-menu .dropdown-item {
    text-align: center;
  }
}
.header .dropdown-menu .dropdown-item:hover {
  background: transparent;
}/*# sourceMappingURL=header.css.map */